<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enriquece.me - Criar novo</title>
</head>
<body>
  <h1>Enriquece.me</h1>
  <h2>Cadastrar novo usuário</h2>
  <form id="new-user-form">
    <p>
      <label for="name">Nome:</label>
      <input type="text" name="name" required>
    </p>
    <p>
      <label for="email">E-mail:</label>
      <input type="email" name="email" required>
    </p>
    <p>
      <label for="password">Senha:</label>
      <input type="password" name="password" required>
    </p>
    <button id="createNewUser">Criar usuário</button>
    <input type="reset" value="Limpar formulário">
  </form>
</body>
</html>